.footer-content {
    width: 100%;
    height: 400px;
}

.footer-title {
    font-size: 3rem;
    text-align: center;
    padding: 50px;
}

.footer-welcome-title {
    text-align: center;
    color:rgb(96, 95, 95);
}

.footer-inner {
    position: absolute;
    text-align: center;
    bottom: -500px;
    width: 100%;
   padding: 20px;
   border-top: 0.5px solid rgb(232, 232, 232);

}

.copy-right{
    color:rgb(164, 164, 164);

}