

.navbar-title{
    background-color: rgb(82, 85, 84);
    color: white;
    padding: 5px;
    text-align: center;
}
.navbar-navigation{
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    width: 100%;
    
}


.product-menu{
    width: 250px;
}





.form-control:focus.ng-invalid { 
    outline: none !important;
    border: 1px dashed #EB293E;
    box-shadow: 0 0 0px #EB293E;
}


 .navbar-navigation{
     width: 100%;
     display: flex;
     justify-content: center;

 }

 .search-inner{
    width:20%;
}

.navigation-inner{
   width: 50%;
   display: flex;
   justify-content: center;
}
.language-inner{
    width: 20%;
    display: flex;
    justify-content: end;
}
.language-inner select{
    height: 60%;
    margin-top: 8px;
    cursor: pointer;
    border-color:rgb(208, 210, 209);
    border-radius: 5px;

}
.fa-solid{
    position: absolute;
    cursor: pointer;
    margin:12px 0px 0px 17%
}
.shopping-cart{
    display: flex;
    cursor:pointer;
    margin-top: 6px;
}