<div class="navbar-content">
    <div class="navbar-inner">
        <div class="navbar-title">
            SHIPPING - FREE IN BC + AB ON ORDERS OVER $125 AND THE REST OF CANADA OVER $150 / USA FLAT RATE $24.99
        </div>
        <div class="navbar-navigation">
            <div class="search">
                <input class="form-control" type="text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <button mat-button [routerLink]="['/home']"> {{button.home}} </button>
            <button mat-button [routerLink]="['/about']"> {{button.about}}</button>
            <button mat-button [matMenuTriggerFor]="menu">{{button.products}}</button>
            <mat-menu #menu="matMenu">
                <div class="product-menu">
                    <button mat-menu-item [routerLink]="['/deck']">{{button.deck}}</button>
                    <button mat-menu-item [routerLink]="['/wheel']">{{button.wheels}}</button>
                    <button mat-menu-item [routerLink]="['/truck']">{{button.trucks}}</button>
                    <button mat-menu-item [routerLink]="['/complete']">{{button.completes}}</button>
                </div>

            </mat-menu>
            <button mat-button [routerLink]="['/sale']">{{button.sale}}</button>
            <button mat-button [routerLink]="['/gallery']">{{button.gallery}}</button>
            <button mat-button [routerLink]="['/contact']"> {{button.contact}}</button>
        </div>
    </div>
</div>