<div class="admin-content">
       <mat-spinner class="loader-spinner" *ngIf="loader.isLoading|async"></mat-spinner>
       <div class="admin-inner">
              <div class="orders-inner">
                     <h3>შეკვეთების ლისტი</h3>
                     <div class="order-list">
                            <div class="order-list-inner" *ngFor="let item of (orders$|async)">
                                   <div class="userInfo">
                                          <h3>შემკვეთის ინფო</h3>
                                          <div>
                                                 შემკვეთი:{{item.name}} {{item.surname}}
                                          </div>
                                          <div>
                                                 პირადი# {{item.personalNumber}}
                                          </div>
                                          <div>
                                                 მობილური: {{item.phoneNumber}}
                                          </div>
                                          <div>
                                                 მისამართი: {{item.address}}
                                                 <a href="https://www.google.com/maps/@41.746432,44.7840256,14z">map</a>
                                          </div>
                                   </div>
                                   <div class="product-details" *ngFor="let i of item.product">
                                          <img [src]="i.image">

                                          <div style="padding:10px">
                                                 <div>
                                                        id : <span>{{i.key}}</span>
                                                 </div>
                                                 name : <span>{{i.name}}</span>
                                                 <div>
                                                        Type <span>{{i.type}}</span>
                                                 </div>
                                                 <div>
                                                        Size <span>{{i.size}}</span>
                                                 </div>
                                                 <div>
                                                        Description <span>{{i.description}}</span>
                                                 </div>
                                                 <!-- <div>
                                                        Description <span>{{i.sale}}</span>
                                                 </div> -->
                                                 <div>
                                                        price <span>{{i.price}}</span>
                                                 </div>
                                          </div>
                                   </div>
                                   <mat-icon style="float:right;cursor:pointer;opacity:0.8;"
                                          (click)="deleteOrder(item.key)">delete</mat-icon>
                            </div>
                     </div>
              </div>
       </div>
</div>