მითხარი შენი ბიუჯეტი:
<mat-slider 
thumbLabel
[displayWith]="formatLabel"
tickInterval="10"
step="10"
min="0"
max="2000"
aria-label="units"
(change)="filterByClientAmount($event)"
>
</mat-slider>


<div class="item-content">




 <div *ngIf="itemArr$" class="item-filter-inner" >
    <div *ngFor="let item of (itemArr$|async);let i =index">
     <div   [routerLink]="['/view-details',item.id]" routerLinkActive="router-link-active" class="item">
            {{item.id}}
            {{item.name}}
            <img [src]="item.image">
            {{item.price}}
            {{item.type}}
        </div>
  
    </div>
 </div>

</div>
