.mat-slider{
    background-color:rgb(233, 230, 230);
    border-radius: 5px;
    margin-top: 5px;
    width: 20%;
}
.load-more-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.bugedSlider{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    background-color: #F5F6F7;
    width:100%;
}
.bugedSlider .ngx-slider {
    width:30%;


}