<div class="admin-content">
       <mat-spinner class="loader-spinner" *ngIf="loader.isLoading|async"></mat-spinner>
       <div class="admin-inner">
              <div class="products-inner">
                     <h3>პროდუქტების ლისტი</h3>
                     <div class="product-list">
                            <div class="product-list-inner" *ngFor="let item of (productList$|async)">
                                   <div class="product-details">
                                          <img [src]="item.image">
                                          <div style="padding:10px">
                                                 id : <span>{{item.key}}</span>
                                                 name : <span>{{item.name}}</span>
                                                        Type <span>{{item.type}}</span>
                                                        Size <span>{{item.size}}</span>
                                                        Description <span>{{item.description}}</span>
                                                        price <span>{{item.price}}</span>
                                          </div>
                                   </div>
                                   <mat-icon style="float:right;cursor:pointer;opacity:0.8;"
                                          (click)="deleteProduct(item.key)">delete</mat-icon>
                            </div>
                     </div>
              </div>

              <form class="form-inner" (ngSubmit)="addProduct(productForm)" #productForm="ngForm">
                     <h3 style="text-align:center">პროდუქტის დამატება</h3>
                     <input [(ngModel)]="productModel.type" name="productType" #productType="ngModel" type="text"
                            placeholder="type" class="form-control">


                     <input [(ngModel)]="productModel.name" 
                            name="productName" 
                            #productName="ngModel" 
                            placeholder="name" 
                            type="text" 
                            class="form-control">


                            <div class="image-content">
                            <img [src]="imgURL">

                     </div>

                     <input [(ngModel)]="productModel.image" 
                            (change)="showPreview($event)" 
                            accept="image/*"
                            name="productImg"
                            #productImg="ngModel" 
                            type="file" 
                            class="form-control">

                     <input [(ngModel)]="productModel.size" name="productSize" #productSize="ngModel" type="text"
                            placeholder="size" class="form-control">
                     <textarea [(ngModel)]="productModel.description" name="productDescription" #productDescription="ngModel" type="text"
                            placeholder="description" class="form-control"></textarea>

                     <input [(ngModel)]="productModel.price" name="productPrice" #productPrice="ngModel" type="text"
                            placeholder="price" class="form-control">
             

                     <button type="submit" class="addBTN" mat-raised-button color="primary">add Product</button>

              </form>



       </div>
</div>