<div *ngIf="showFilter" class="filter-content">
<mat-icon style="cursor:pointer;" aria-hidden="false" aria-label="Example home icon" [matMenuTriggerFor]="filter">
    filter
</mat-icon>

<mat-menu #filter="matMenu" yPosition="below">
    <section style="padding:10px 10px 0px 10px" class="example-section">
        <p>
            <mat-checkbox >
                         Decks
            </mat-checkbox>
        </p>
        <p>
            <mat-checkbox >
                         Wheels
            </mat-checkbox>
        </p>
        <p>
            <mat-checkbox >
                         Trucks
            </mat-checkbox>
        </p>
        <p>
            <mat-checkbox >
                         Completes
            </mat-checkbox>
        </p>
    </section>
</mat-menu>
</div>