<div *ngIf="showFilter" class="filter-content">
    <mat-icon style="cursor:pointer;" aria-hidden="false" aria-label="Example home icon" [matMenuTriggerFor]="filter">
        filter
    </mat-icon>

    <mat-menu #filter="matMenu" yPosition="below">
        <section style="padding:10px 10px 0px 10px" class="example-section" *ngFor="let brand of returnUniqueOwners()">
            <mat-checkbox  
                (change)="selectProduct($event)" [value]="brand">
                {{brand}}
            </mat-checkbox>
        </section>
    </mat-menu>

</div>
