<div class="detail-content">
    <div class="detail-inner">
        <div *ngIf="product" class="productDetail">
            <img [src]="product.image">
   
        </div>

        <div class="product-info">
            <h3>Description:</h3>
            <li> Type:{{product.type}}</li>
            <li>Name: {{product.name}}</li>
            <li> {{product.description}}</li>
            <li> size:{{product.size}}</li>
           <h3>{{"price"|translate}} {{product.price}} {{"currency"|translate}}</h3> 
        </div>

        <div class="buy">
            <button (click)="buyProductNow()" mat-flat-button color="primary">{{"buy"|translate}}</button>
            <button style="margin-left:10px" (click)="addProductInCart()" mat-flat-button
                color="primary">{{"addToCart"|translate}}</button>
        </div>

        <div>

        </div>
    </div>

</div>

<div>

</div>