<div class="product-incart-content">
    <h2>{{"myCart"|translate}}</h2>
    <div class="product-incart-container" *ngIf="productCartArray">
        <div class="product-incart-list">
            <div class="product-incart-inner" *ngFor="let item of productCartArray;let i =index">
                <img [src]="item.image">
                    Name: 
                    <span >
                        {{item.name}}
                    </span>
                    Price: 
                    <span >
                        {{item.price}}
                    </span>
                    Type:
                    <span >
                        {{item.type}}
                    </span>
                    QTY:
                    <span>
                        {{item.inCart}}
                    </span>
                    Total:
                    <span>
                        {{item.price*item.inCart}}
                    </span>
                <mat-icon style="float:right;cursor:pointer;opacity:0.8;" (click)="deleteItem(i)">delete</mat-icon>
            </div>
        </div>

        <div *ngIf="productCartArray.length>0" class="order-product-inner">
            <h2 style="padding:10px">{{"order"|translate}}</h2>
            <div>
                {{"totalItems"|translate}}: {{countTotalItems()}}
            </div>
            <div>
                <h3 style="font-weight:bold;">{{"totalPrice"|translate}}: {{countTotalPrice()}} {{"currency"|translate}}
                </h3>
            </div>
            <button (click)="checkUserIsLoggedIn()" style="width:50%;" mat-flat-button
                color="primary">{{"continuePurchase"|translate}}</button>
        </div>
    </div>


    <div *ngIf="productCartArray.length<1">
        {{"cartIsEmpty"|translate}}
    </div>
</div>